eclipse
.project
.classpath
.settings/
.metadata
*.launch
org.*
bin
config
logs
saves
options.txt
usernamecache.json
usercache.json
crash-reports

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle
modules

#runtime
run
run_server

#mac
.DS_Store

#Custom code to inject the the dev environment
custom
*.gen
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
*.tis
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
*.tii
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
*.fdt
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
*.fdx
eclipse/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
*.frq
banned-ips.json
banned-players.json
eula.txt
server.properties
ops.json
*.lock
*.mca
whitelist.json
screenshots/2016-06-18_17.43.56.png
screenshots/2016-06-18_17.44.11.png
screenshots/Thumbs.db