eclipse/
.project
.classpath
.settings/
.metadata
*.launch
org.*
/bin/

#idea
*.iml
*.ipr
*.iws
.idea/

#build output
/build/
.gradle
/modules/
/classes/
/out/
/compile/

#mac
.DS_Store

#Custom code to inject the the dev environment
custom
*.gen
*.tis
*.tii
*.fdt
*.fdx
*.frq

# Other Stuff
Thumbs.db
*.hprof

# Mod/Forge related stuff
/libs/
/run/
/run_server/
